
/* ---------------Google Fonts--------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ---------------Header Style --------------*/

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header-content{
    background-color: #2D25A0;
    height: 692px;
    display: flex;
    
}

.header-info{
    color: white;
    width: 485px;
    margin: 207px auto 169px 156px;
}

.header-info h1{
    font-size: 64px;
    font-weight: 700;
    text-align: left;
}

.header-info p{
    margin-top: 20px;
}

 .header-info  a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    text-align: center;
    padding: 10px 24px;
}

.header-image img{
    height: 438px;
    width:556px;
    margin: 153px 140px 86px 102px;
    transition: transform ease-in-out 4s;
}

/*-------------------- Animation Effect-------------------------------*/

.header-content:hover img{
    transform: scale(0.5);
}

.header-content:hover {
    animation: color-change 3s infinite;
}

/*------------------- Create Animation---------------------- */

@keyframes color-change {
    0% {
        background-color: #142850;
    }
    25% {
        background-color: #27496D;
    }
    50% {
        background-color:#00909E;
    }
    100% {
        background-color: #350B40;
    }
}

/*-------------------- Main Players Style -------------------- */
.main{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1050px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;

}

.player{
    height: 444px;
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px #00000025;
}

.player-image img{
    height: 256px;
    width: 300px;
}

.player-info h2{
    margin-top: 17px;
    height: 40px;
    width: 300px;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    color: #18191F;
}

.player-info p{
    margin-top: 10px;
    margin-bottom: 33px;
    height: 104px;
    width: 300px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #6C6C6C;
}

/* -------------------------extra part1 style---------------------- */

.final-result{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}

.result h2{
    font-size: 30px;
    text-align: center;
}

.result p{
    background-color:hsl(226, 11%, 63%);
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

.match-ratio{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.argentina, .brazil {
    font-weight: 700;
}

.argentina span, .brazil span{
    background-color: sandybrown;
    padding: 10px 10px;
    margin-right:5px ;
    margin-left: 5px;
    padding-right: 10px;
}

.result a{
    text-decoration: none;
    background-image: linear-gradient(white,sandybrown);
    padding: 8px;
    border-radius: 20px;
    color:black;
}

.view-all-result{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*------------------ extra part2 style------------------ */

.about-messi{
    display: flex;
    justify-content: center;
    
}

.messi h2{
    text-align: center;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 700px;
    margin-top: 30px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* ------------Footer Style------------- */

 footer{
    height: 213px;
    width: 483px;
    margin:158px auto 63px;
}

.footer-image{
    width: 483px;
    height: 110px;
}

.footer-image img{
    width: 100%;
    
}

.footer-icon{
    width: 170px;
    height: 32px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.footer-icon a{
    color: #969BAB;
    background-color: #E7E7E8;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    
    display: inline-block;
    width: 32px;
    height: 29px;
    padding-top: 3px;
    border-radius: 50%;
}

.footer-copyright{
    height: 31px;
    width: 236px;
    font-size: 18px;
    font-weight: 400;
    margin: 0px auto;
}

hr{
    margin-top: 50px;
}


/*------------------------- Media Query Style----------------------- */

/*-----------For Tab Media Query---------------- */

@media (max-width:1040px) {
    .header-content{
        height: auto;
        display: block;
        padding-top: 112px;
        
    }
    
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        grid-column-gap: 0;
        width: 690px;
    }
}


/*------------------ Media Query For Phone --------------------------------------------*/

@media (max-width:688px) {

    /* -------Header Media Query For Phone----- */

    .header-content{
        height: 695px;
        display: block;
        padding-top: 112px;
        
    }
    
    .header-info{
        width: 278px;
        margin: 0 auto 30px auto;
    }
    
    .header-info h1{
        font-size: 36px;
    }
    
    .header-info p{
        margin-top: 30px;
    }
    
    .header-image img{
        height: 260px;
        width:329px;
        margin: 50px 16px 61px 15px;
    }

    /* ---------------Main Players Media Query  For Phone--------------- */

    .main{
        margin-top: 47px;   
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 0;
        width: 330px;
    } 

    /* -----------------Extra Part1 Media Query---------------- */

    .result h2{
        font-size: 20px;
    }

    .result p{
        width: 100%;
    }

    table {
        width: 100%;
    }
      
    td, th {
        padding: 2px;
    }
      

   /*---------------- Footer Media Query--------------- */

   footer{
        height: 213px;
        width: 330px;
        margin:50px auto;
    }


  .footer-image{
    width: 330px;
    height: 100px;
}

}
    
